/* development purposes, the border for nav will be black, border for logo will be yellow
** border for content blue and footer green */

body {
  width: 610px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #1A1A1D;
  color: white;

}

/*code for the a tags up the top */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}





hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.col-tin {
  width: 80px;
  display: inline-block;
  text-align: center;
}

.col-sm {
  width: 40%;
  height: 80px;
  display: inline-block;
  text-align:center;

}

.col-md {
  width: 40%;
  height: 200px;
  display: inline-block;
}


/*Font Stylings */
.main-text {
  font-size: 10px;
  font-family: 'Comfortaa', cursive;

}

.stand-out {
  color: #C5C6C7;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  padding-left: 5px;
}

.about-me-text {
  height: 100%;
  width: 100%;
  font-size: 11px;
  color: white;
  text-align: center;
}

.content-image {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

/* END FONT STYLINGS */

.floa-r {
  float:right;
}

.floa-l {
  float: left;
}

.marg-l-2 {
  margin-left: 20px;
}

.marg-l-3 {
  margin-left: 30px;
}

.marg-r-3 {
  margin-right: 30px;
}

.marg-r-2 {
  margin-right: 20px;
}

.marg-t-2 {
  margin-top: 20px;
}

.pad-l-08 {
  padding-left: 8px;
}

.row-logo {
  border: 4px solid black;
  height: 100px;
}




/*css for the main nav div (container nav) */
.nav {
  width: 480px;
  margin: 20px auto 0 auto;
  text-align:center;

}

.nav ul li {
  display: inline;
  font-size: 10px;
}

.row {
  width: 500px;
  display: inline-block;
}

#comp-logo {
  height: 180px;
  width: 200px;
}



/*Contiainer for the logo */
.cont-logo {
  width: 600px;
  height: 200px;
  text-align: center;
  margin: 50px auto 0 auto;
}

/*container for the content */
.cont-content {
  width: 600px;
  margin: 50px auto 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 600px;
  height: 30px;
}
